:root{
    --colorBlanco: white;
    --colorNegro: black;
}

body{
    line-height: 1.5;
    padding: 30px;
    background-color: var(--colorBlanco);
    font-size: 26px;


    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    text-align: center;
}

button{
    width: 20%;
    margin: 0 auto;
    border: 0;
    font-size: 2rem;
    padding: 15px;
    border: 2px solid black;
}

.modoOscuro{
    background-color: var(--colorNegro);
    color:var(--colorBlanco)
}