body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    text-align: center;
}

button{
    width: 20%;
    margin: 0 auto;
    border: 0;
    font-size: 2rem;
    padding: 15px;
    border: 2px solid black;
}